<!--Data view -->
<div>
    <!-- Top row-->
    <div class="row">
        <!-- Register button -->
        <div class="col-12">
            <button type="button" class="btn btn-primary" (click)="callCreate()">Register</button>
        </div>
    </div>
    <!-- Headers -->
    <div class="row mb-2 mt-4 border-bottom">
        <div class="col-1 font-weight-bold">Date</div>
        <div class="col-1 font-weight-bold">Amount</div>
        <div class="col-8 font-weight-bold">Description</div>
        <div class="col-2 font-weight-bold">Actions</div>
    </div>
    <!-- Cicle data array -->
    <div class="row mt-3 border-bottom" *ngFor="let payment of payments">
        <div class="col-1">{{ payment.date | date:"dd/MM/yyyy" }}</div>
        <div class="col-1">{{ payment.amount  | currency:'US$' }}</div>
        <div class="col-8">{{ payment.description }}</div>
        <div class="col-2 form-group row d-flex justify-content-center btn-group" role="group"
            aria-label="form-buttons">
            <button type="button" class="btn btn-info" (click)="callEdit(payment)">Edit</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
            (click)="confirmDelete(mymodal, payment)">Delete</button>
        </div>
    </div>
    <!-- Delete confirm -->
    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Delete confirmation!</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="font-weight-bold mb-1">Are you sure you want to delete this item?</div>
            <div>Date: {{deletePayment.date | date:"MM/dd/yyyy"}}</div>
            <div>Amount: {{deletePayment.amount  | currency:'US$' }}</div>
            <div>Description: {{deletePayment.description }}</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('confirm')">Confirm</button>
        </div>
    </ng-template>
</div>