<!-- PNG for favicon & navbar -->
<footer>
    <p id="flaticon-copyright">
        Navbar & Favicon made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </p>
</footer>