<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <!-- Container -->
    <div class="container">
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Content -->
        <div class="collapse navbar-collapse">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="assets/img/logo.png" alt="">
                Payments
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <!-- Total -->
            <div class="my-2 my-lg-0 text-light font-weight-bold">
                <span>Total amount:&nbsp;</span>
                <span>{{ total | currency:'US$' }}</span>
            </div>
        </div>
    </div>
</nav>