<!-- Toolbar -->
<app-header [total]="paymentsService.total"></app-header>
<!-- Content -->
<div id="main-container" class="container" role="main">
    <!-- Content table -->
    <div class="container mt-4">
        <!--List view -->
        <app-list *ngIf="type=='List'" [payments]="paymentsService.payments" (create)="create()" (edit)="edit($event)"
            (delete)="delete($event)"></app-list>
        <!--Form view -->
        <app-form *ngIf="type!='List'" [payment]="currentPayment" [type]="type" (save)="save()" (cancel)="cancel()">
        </app-form>
    </div>
    <!-- Content table -->
</div>
<!-- Footer -->
<app-footer></app-footer>
<!-- Router -->
<router-outlet></router-outlet>