<div>
    <!-- Payment form -->
    <div class="d-flex justify-content-center">
        <h2>{{type}} Payment</h2>
    </div>
    <!-- Form -->
    <form [formGroup]="paymentForm" name="paymentForm" class="mt-4 col-10 offset-1"
        (ngSubmit)="callSave(paymentForm.status)">
        <!-- Required note -->
        <div class="font-weight-light text-muted float-right">
            <p class=" ">Required(*)</p>
        </div>
        <div class="form-group row">
            <!-- Date -->
            <label for="date" class="col-2 col-form-label font-weight-bold">Date*</label>
            <div class="col-4">
                <input type="date" class="form-control" id="date" name="date" formControlName="date"
                    min={{minDate}} max={{maxDate}} formControlName="date"
                    [ngClass]="{'is-invalid' : paymentForm.get('date').touched && paymentForm.get('date').invalid }">
                <div class="invalid-feedback">Invalid</div>
            </div>
            <!-- Amount -->
            <label for="amount" class="col-2 col-form-label font-weight-bold">Amount*</label>
            <div class="col-4">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text">US$</div>
                    </div>
                    <input id="amount" name="amount" type="text" class="form-control" 
                        formControlName="amount"
                        [ngClass]="{'is-invalid' : paymentForm.get('amount').touched && paymentForm.get('amount').invalid }">
                    <div class="invalid-feedback">Please enter a positive value with two decimal position</div>
                </div>
            </div>
        </div>
        <!-- Description -->
        <div class="form-group row">
            <label for="description" class="col-2 col-form-label font-weight-bold">Description</label>
            <div class="col-10">
                <textarea type="text" class="form-control" id="description" name="description" rows="4" maxlength="255"
                    formControlName="description"
                    [ngClass]="{'is-invalid' : paymentForm.get('description').touched && paymentForm.get('description').invalid }"></textarea>
                <div class="invalid-feedback">Invalid</div>
                <div class="font-weight-light text-muted float-right">
                    <p>({{paymentForm.value.description.length}}/255)</p>
                </div>
            </div>
        </div>
        <!-- Actions -->
        <div class="form-group row d-flex justify-content-center btn-group" role="group" aria-label="form-buttons">
            <button type="button" class="btn btn-danger col-3" (click)="callCancel()">Cancel</button>
            <button type="submit" class="btn btn-success col-3"
                [disabled]="paymentForm.status=='INVALID' ? 'disabled': null">Save</button>
        </div>
    </form>
</div>